= form_for(@milestone) do |f|
  -if @milestone.errors.any?
    #error_explanation
      %h2= "#{pluralize(@milestone.errors.count, "error")} prohibited this milestone from being saved:"

      %ul
      - @milestone.errors.full_messages.each do |msg|
        %li= msg
      <% end %>

  .field
    = f.label :name
    %br
    = f.text_field :name
  .actions
    = f.submit
