%p#notice= notice

%p
  %b Milestone:
  = @project_milestone.milestone.name

%p
  %b Description:
  = @project_milestone.description

%p
  %b Date:
  = @project_milestone.date

%p
  %b Accomplished:
  = @project_milestone.accomplished

= "#{link_to 'Edit', edit_project_milestone_path(@project_milestone)} | #{link_to 'Back', project_milestones_path}"
