= semantic_form_for(@accounting) do |f|
  %h3 Position
  = f.inputs do
    = f.input :description
    = f.input :amount
    = f.input :valuta, :as => :datepicker
    = f.input :project_id, :as => :select, :collection => @projects, :label_method => :shortname
    = f.input :sent
    = f.input :payed
    = f.input :link
  = f.buttons do
    = f.commit_button :button_html => { :class => 'main_link' }
