%h1 Listing accountings

%table
  %tr
    %th Description
    %th Amount
    %th Valuta
    %th Project
    %th Sent
    %th Payed
    %th Link
    %th
    %th
    %th

  - @accountings.each do |accounting|
    %tr
      %td= accounting.description
      %td= accounting.amount
      %td= accounting.valuta
      %td= accounting.project.shortname
      %td= accounting.sent
      %td= accounting.payed
      %td= accounting.link
      %td= link_to 'Show', accounting
      %td= link_to 'Edit', edit_accounting_path(accounting)
      %td= link_to 'Destroy', accounting, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New Accounting', new_accounting_path
