= semantic_form_for(@plan) do |f|
  %h3 RPL
  = f.inputs do
    = f.input :user_id, :as => :select, :collection => @users, :label_method => :username
    = f.input :project_id, :as => :select, :collection => @projects, :label_method => :shortname
    = f.input :amount
    = f.input :kw, :as => :datepicker
  = f.buttons do
    = f.commit_button :button_html => { :class => 'main_link' }
