%h1 Listing RPLs

%table#gradient-table
  %tr
    %th User
    %th Project
    %th Amount
    %th Kw
    %th Edit
    %th Delete

  - @plans.each do |plan|
    %tr
      %td= link_to plan.user.username, edit_user_path(plan.user)
      %td= link_to plan.project.shortname, edit_project_path(plan.project)
      %td= plan.amount
      %td= plan.kw
      %td= link_to (image_tag 'edit.png'), edit_plan_path(plan)
      %td= link_to (image_tag 'delete.png'), plan, :confirm => 'Are you sure?', :method => :delete
