%p#notice= notice

%p
  %b User:
  = @plan.user.user_name

%p
  %b Project:
  = @plan.project.shortname

%p
  %b Amount:
  = @plan.amount

%p
  %b Kw:
  = @plan.kw

= "#{link_to 'Edit', edit_plan_path(@plan) %>} | #{link_to 'Back', plans_path}"
